*{
  font-family: Arial, Helvetica, sans-serif;
}

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.body{
  background-color: whitesmoke;
  border-color: black;
  text-align: center;
  padding:5px;
  margin: 5px;
  align-items: center;
  display:block;
}


.dateTitle{
  display: flex;
  justify-content: space-evenly;
}

.contenedor-buttons{
  display: flex;
}

.box{
  margin: auto;
  padding: auto;
  background-color: #FFFFFF;
  border-color: black;
  border-style: solid;
  border-radius: 5%;
  width: 50%;

}
